aiohttp==3.7.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
Brotli==1.0.9
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
decorator==4.4.2
flake8==3.8.4
Flask==1.1.2
Flask-Compress==1.8.0
flask-talisman==0.7.0
freezegun==1.0.0
fsspec==0.8.4
future==0.18.2
gcsfs==0.7.1
google-api-core==1.23.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-cloud-bigquery==2.4.0
google-cloud-bigquery-storage==2.1.0
google-cloud-core==1.4.3
google-cloud-storage==1.33.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
libcst==0.3.13
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
multidict==5.0.2
mypy-extensions==0.4.3
numpy==1.19.4
oauthlib==3.1.0
packaging==20.4
pandas==1.1.4
Pillow==8.0.1
plotly==4.12.0
pluggy==0.13.1
proto-plus==1.11.0
protobuf==3.14.0
py==1.9.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybigquery==0.4.15
pycodestyle==2.6.0
pyflakes==2.2.0
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==6.1.2
pytest-mock==3.3.1
python-box==5.2.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scipy==1.5.4
six==1.15.0
SQLAlchemy==1.3.20
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
Werkzeug==1.0.1
yarl==1.6.3
